# TEMP file to install required PyPI distributions - TODO replace with
# 'packages' resource type in Guild

# NOTE: cython and numpy must be installed manually before install
# these packages. See https://github.com/h5py/h5py/issues/535 for
# background on the bug in pip.

contextlib2
lxml
matplotlib
pillow
pycocotools
