# TEMP: use for development/testing - TODO move to auto-gen

model {
}

train_config {
}

train_input_reader {
  tf_record_input_reader {
    input_path: "PATH_TO_BE_CONFIGURED/mscoco_train.record-?????-of-00100"
  }
  label_map_path: "PATH_TO_BE_CONFIGURED/mscoco_label_map.pbtxt"
}

eval_config {
}

eval_input_reader {
}
